/*делаем скролл*/
::-webkit-scrollbar {
	width: 20px;
}
	/*трек скроллбара*/
::-webkit-scrollbar-track {
	background: #57b7d4;
}
	/*ползунок скроллбара*/
::-webkit-scrollbar-thumb {
	background: repeating-linear-gradient(45deg, #606dbc, #606dbc 2px, #465298 8px, #465298 15px);
	border-radius: 10px;
	border: 3px double #57b7d4;	
	transition-property: border;
	transition-duration: 1s;
}

/*добавляем шрифты*/
@font-face {
	font-family: PN-reg;
	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('eot'),
	url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: title-font;
	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('eot'),
	url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
	url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: PN-thin;
	src: url('../fonts/ProximaNova-Thin/ProximaNovaCond-Thin.eot');
	src: url('../fonts/ProximaNova-Thin/ProximaNovaCond-Thin.eot?#iefix') format('eot'),
	url('../fonts/ProximaNova-Thin/ProximaNovaCond-Thin.woff') format('woff'),
	url('../fonts/ProximaNova-Thin/ProximaNovaCond-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
}

/**
 * { upper part of the head }
 */
.header-hide {
	width: 100%;
	height: 80px;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-around;
	background-color: #000000;
}
	.logo {
		color: #ffffff;
		font-family: title-font;
		font-size: 30px;
	}

	.navbar {
		width: 420px;
		display: flex; 
		justify-content: space-between;
		font-family: PN-reg;
	}
		.navbar__id {
			text-decoration: none;
			color: #ffffff;
			font-size: 16px;
			position: relative;
		}

		.navbar__id::before {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0%;
			height: 1px;
			background-color: #42b8dd;
			transition: 0.2s;
		}

		.navbar__id:hover:before {
			width: 100%;
			left: 0;
		}

	.button-sign-up {
		width: 90px;
		height: 35px;
		background-color: transparent;
		border: 2px solid #42b8dd;
		border-radius: 10px;
		font-family: PN-reg;
		font-size: 16px;
		color: #42b8dd;
		cursor: pointer;
		transition: all 0.25s ease;
	}
		.button-sign-up:hover {
			color: #ffffff;
			background-color: #42b8dd;
			border: 2px solid #ffffff;
		}

/**
 * { lower part of the head }
 */
.home {
	width: 100%;
	height: 900px;
	background-color: #666666;
	display: flex;
	justify-content: center;
	align-items: center;
}
	.play-button {
		margin-right: 40px;
		width: 130px;
		height: 130px; 
		cursor: pointer;
	}

	.home__text {
		width: 760px;
		height: 80px;
		display: flex;
		flex-direction: column;
	}
		.home__text-video-1 {
			font-family: PN-thin;
			font-size: 60px;
			color: #ffffff;
		}

		.home__text-video-2 {
			font-family: PN-reg;
			font-size: 16px;
			color: #42b8dd;
			cursor: pointer;
		}




